<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844518346559-ajcaptae43an9qhaeabq4ppbb4jmek17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844518346559-ajcaptae43an9qhaeabq4ppbb4jmek17</string>
	<key>API_KEY</key>
	<string>AIzaSyDk1R2SbdoWqiG9e1L-umVWjh_s21FKVYc</string>
	<key>GCM_SENDER_ID</key>
	<string>844518346559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerKilicaslan.InstagramCloneProject</string>
	<key>PROJECT_ID</key>
	<string>instagramcloneatils</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcloneatils.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844518346559:ios:2e56f9e038b392a3cecd8a</string>
</dict>
</plist>